* {
  box-sizing: border-box;
}
 .container {
  width: 315px;
  min-height: 680px;
  margin: 0 auto;
  padding: 20px;
  background-color: #201520;
  border-radius: 28px;
}

body { 
    margin: 0;
    padding: 20px 0 20px 20px;
    min-height: 100vh;
    background-color: #201520;
}

.name h1 {
  font-family: "Rosarivo", sans-serif;
  font-size: 18px;
  color: #ffffff;
  margin: 12px 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.name h3 {
  font-family: "Rosarivo", serif;
  font-size: 13px;
  color: #ffffff;
  margin: 0 0 9px;
  display: flex;
  align-items: center;
}

.cups {
  width: 100%;
  position: relative;
}

.cups img {
  width: 100%;
  height: 346px;
  display: block;
  border-radius: 28px;
}

.back-button {
  position: absolute;
  top: 17px;
  left: 10px;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background-color: rgba(12, 12, 12, 0.8);
  color: white;
  font-size: 25px;
  padding: 0;
  cursor: pointer;
}

.back-button:hover {
  background-color: rgb(12, 12, 12);
}
.description {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  line-height: 1.4;
  color: #ffffff;
  margin: 0;
}

.milk {
  margin-top: 22px;
  margin-bottom: 35px;
  font-family: "Rosarivo", sans-serif;
  font-size: 13px;
  color: #ffffff;
}

.milk-options {
  display: flex;
  gap: 7px;
  width: 100%;
}

.milk-options button {
  height: 30px;
  padding: 0 13px;
  font-family: "Rosarivo", sans-serif;
  font-size: 11px;
  color: #efe3c8;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 8px;
  white-space: nowrap;
  cursor: pointer;
}

.milk-options button:hover{
    background-color: #EFE3C8;
    color: #201520;
}

.milk p {
  margin: 0 0 9px;
}

.price {
  width: 65px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.price span {
  font-family: "Raleway", sans-serif;
  font-size: 11px;
  color: #ffffff;
}

.price strong {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #ffffff;
}

.buy-button {
  width: 100%;
  height: 38px;
  font-family: "Raleway", sans-serif;
  color: #4a2b29;
  background-color: #efe3c8;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.buy-button:hover {
  background-color: #e4d6b8;
}

.buy {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 10px;
}

#heart {
  width: 22px;
  height: 20px;
  object-fit: contain;
}


.rating {
  display: flex;
  align-items: center;
  margin-left: 12px;
  font-family: Arial, sans-serif;
  font-size: 10px;
  color: #ffffff;
}

#star {
  width: 12px;
  height: 12px;
  margin-right: 4px;
}